<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>api test</title>
</head>

<body>
<script type="text/html" id="support_tmpl">supportCount: <%= supportCount %>, data modified <%= modified %></script>
<script type="application/javascript" src="template.js"></script>
<script type="application/javascript" src="initiative.js"></script>

<p id="initiativeStats">support count will be here<p>

<script type="application/javascript" src="https://www.kansalaisaloite.fi/api/v1/initiatives/707?jsonp=processInitativeData"></script>

</body>

</html>

